.contenedor_3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 96vh;
    align-items: center;
    
}
.contenedor_4{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.btn_3 {
    width: 70px;
    height: auto;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: black;
    color: white;
}
.btn_3:hover{
    background-color: rgb(58, 144, 58);
}

.btn_3_deshabilitado{
    background-color: rgb(155, 154, 154);
    color: white;
}
.btn_3_deshabilitado:hover{
    background-color: rgb(155, 154, 154);
}
